
h1 {
    text-align: center;
    margin: 420px 0px 0px 0px;
    color: #29902e;

}

button{
    text-align: center;
    margin: 10px 0px 0px 575px;
}

body {
    background-image: url(B24.jpeg);
    background-size: cover;
}